:root {
    --primary-color: whitesmoke;
    --secondary-color: rgba(240, 236, 204, 0.815);
    --accent1-color: #264353;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img {
    width: 125px;
    margin: 0 auto;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: rgba(115, 69, 5, 0.393);
    color: var(--secondary-color);
}

h2 {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgba(22, 121, 87, 0.758);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

article {
    position: absolute;
    top: 25rem;
    color: var(--primary-color);
    padding: 10px;
    background-color: rgba(10, 88, 61, 0.562);
}

nav img {
    width: 50px;
}

.hero article img {
    float: right;
    width: 125px;
    margin: 10px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
}