:root {
    background: whitesmoke;
    --padding: 1rem
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 840px;
    min-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin-left: 10px;
}

aside {
    width: 20em;
    text-align: center;
}

li {
    margin-left: 15px;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 505px;
    left: 85px;
}

nav {
    background-color: darkslategray;
    padding: 10px;
}

nav a {
    color: white;
    display: inline-block;
    padding: 20px;
}

h1 {
    color: darkslategray;
    padding: var(--padding);
}

p {
    padding: var(--padding);
    margin-right: 10px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: var(--padding);
    background-color: #ddd;
    color: #000;
}